@media (min-width: $tablet-width) {
	.cabinet {
		width: 140px;
		margin-right: 40px;
		font: inherit;
		color: $dark-blue;
		letter-spacing: 0.7px;
		background-color: transparent;
		border: 0;
	}
}
