.catalog {
	&__title {
		margin: 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 48px;
		font-family: "Roboto Slab", serif;
		text-align: center;
		color: inherit;
	}

	&__text {
		margin: 0;
		font: inherit;
		text-align: center;
		color: inherit;
		letter-spacing: 0.7px;
	}

	// TODO: стилизовать select
	&__sorting {
		display: inline-block;
		width: 60px;
		font: inherit;
		color: inherit;
		font-style: italic;
		letter-spacing: 0.7px;
		background-color: $light-grey;
		border: none;
	}

	&__sorting-option {
		// TODO:
	}

	&__wrapper {
		max-width: 290px;
		margin-right: auto;
		margin-left: auto;
	}

	&__item {
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;

		&--desktop-only {
			display: none;
		}
	}

	&__more {
		// TODO: добавить паддинги или переделать без flex
		display: flex;
		justify-content: center;
		align-items: center;
		width: 202px;
		height: 47px;
		margin-right: auto;
		margin-left: auto;
		font: inherit;
		text-align: center;
		color: $white;
		text-decoration: none;
		letter-spacing: 0.7px;
		background-color: $blue-33;
	}

	&__more-triangle {
		position: relative;

		&::before {
			@include triangle(5px, $white, down, transparent, 4px);

			position: absolute;
			top: 50%;
			left: 12px;
			transform: translateY(-50%);
		}
	}
}

@media (min-width: $tablet-width) {
	.catalog {
		&__title {
			font-size: 26px;
			letter-spacing: 1.3px;
		}

		&__text {
			margin-bottom: 35px;
		}

		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 720px;
		}

		&__item {
			margin-top: 0;
			margin-right: 0;
			margin-bottom: 25px;
			margin-left: 0;
		}
	}
}

@media (min-width: $desktop-width) {
	.catalog {
		&__title {
			font-size: 36px;
			line-height: 1.33;
			letter-spacing: 1.8px;
		}

		&__wrapper {
			display: grid; // TODO: float или flex
			max-width: 1140px;
			margin-bottom: 25px;

			grid-template-columns: 555px 555px;
			grid-template-rows: auto auto auto;
			grid-gap: 20px 30px;
		}

		&__item {
			margin: 0;

			&:first-child {
				grid-row: 1 / 3;
			}

			&--desktop-only {
				display: block;
			}
		}
	}
}
