.page-main {
	padding: 45px 15px 31px;
}

@media (min-width: $tablet-width) {
	.page-main {
		padding-bottom: 62px;
	}
}

@media (min-width: $desktop-width) {
	.page-main {
		padding-top: 110px;
	}
}
