.page-header {
	position: relative;
	min-height: 583px;
	padding: 26px 15px;
	text-align: center;
	background-color: $light-grey;
	background-image: url("../img/header-bg-mobile.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;

	&__wrapper {
		min-width: 290px;
		margin-right: auto;
		margin-left: auto;
	}

	&__nav {
		position: absolute;
		top: 26px;
		left: 15px;
		width: 22px;
		height: 16px;
	}

	&__cabinet {
		display: none;
	}

	&__currency {
		display: none;
	}

	&__language {
		display: none;
	}

	&__phone {
		display: none;
	}

	&__logo {
		display: block;
		width: 70px;
		height: 70px;
		margin-right: auto;
		margin-left: auto;
	}

	&__title {
		margin-top: 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 48px; // px??
		font-family: "Roboto Slab", serif;
		color: $dark-blue;
		letter-spacing: 1px; // ??

		&--big {
			display: block;
			font-size: 50px;
			text-transform: uppercase;
			letter-spacing: -1.25px;
		}
	}

	&__link {
		display: block;
		width: 202px;
		height: 47px;
		margin-right: auto;
		margin-left: auto;
		font-weight: 400;
		font-size: 14px;
		line-height: 48px;
		font-family: "Raleway", "Arial", sans-serif;
		color: $white;
		text-decoration: none;
		letter-spacing: 0.7px;
		background-color: $blue-33;
		cursor: pointer;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -25px;
		left: 50%;
		display: block;
		width: 48px;
		height: 222px;
		background-image: url("../img/header-line.png");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 48px 222px;
		transform: translateX(-50%);
	}
}

@media (min-width: $tablet-width) {
	.page-header {
		background-image: url("../img/header-bg-tablet.jpg");

		&__nav {
			position: static;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			height: auto;
			margin-bottom: 70px;
		}

		&__cabinet {
			display: block;
		}

		&__currency {
			display: block;
		}

		&__language {
			display: block;
		}

		&__phone {
			display: block;
		}
	}
}
