.page-header {
	background-color: $light-grey;
	background-image:	url("../img/header-bg-mobile.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	padding: 26px 15px;
	text-align: center;
	min-height: 583px;
	position: relative;

	&__wrapper {
		min-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}

	&__cabinet {
		display: none;
	}

	&__currency {
		display: none;
	}

	&__language {
		display: none;
	}

	&__phone {
		display: none;
	}

	&__logo {
		display: block;
		width: 70px;
		height: 70px;
		margin-left: auto;
		margin-right: auto;
	}

	&__title {
		color: $dark-blue;
		font-family: "Roboto Slab", serif;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 1px; // ??
		line-height: 48px; // px??

		&--big {
			display: block;
			font-size: 50px;
			text-transform: uppercase;
			letter-spacing: -1.25px;
		}
	}

	&__link {
		display: block;
		width: 202px;
		height: 47px;
		background-color: $blue;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		font-family: "Raleway", "Roboto Slab", "Arial", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 48px;
		letter-spacing: 0.7px;
		text-decoration: none;
		cursor: pointer;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		width: 48px;
		height: 222px;
		background-image:	url("../img/header-line.png");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 48px 222px;
	}
}
