.page-footer {
	padding: 29px 40px 40px;
	text-align: center;
	background-color: $white;

	&__wrapper {
		margin-right: auto;
		margin-left: auto;
	}

	&__nav {
		display: none;
	}
}

@media (min-width: $tablet-width) {
	.page-footer {
		padding: 30px 15px 40px;

		&__wrapper {
			display: flex;
			justify-content: flex-start;
			max-width: 720px;
		}

		&__nav {
			display: block;
		}

		&__contacts {
			margin-left: auto;
		}
	}
}
