{
    "env": {
        "browser": true
    },
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", "tab"],
        "no-tabs": ["off"],
        "prefer-arrow-callback": ["off"],
        "no-var": ["off"],
        "func-names": ["off"],
        "prefer-template": ["off"],
        "comma-dangle": ["off"],
        "strict": ["warn"]
    }
}
