footer.page-footer
	.page-footer__wrapper
		nav.page-footer__nav.short-nav
			ul.short-nav__list
				li.short-nav__item
					a(href="#").short-nav__link Вход для партнеров
				li.short-nav__item
					a(href="#").short-nav__link О компании
				li.short-nav__item
					a(href="#").short-nav__link Контакты

		.page-footer__social.social
			b.social__title Будь на связи:
			ul.social__list
				li.social__item
					a(href="#").social__link
						//- svg.social__icon.social__icon--vkontakte
				li.social__item
					a(href="#").social__link
						//- svg.social__icon.social__icon--odnoklassniki
				li.social__item
					a(href="#").social__link
						//- svg.social__icon.social__icon--youtube
				li.social__item
					a(href="#").social__link
						//- svg.social__icon.social__icon--instagram

		.page-footer__contacts.contacts
			a(href="tel:+88005006105").contacts__phone 8 800 500-61-05
			a(href="#").contacts__support Круглосуточная поддержка
			b.contacts__copyright © 2016 OOO «Городские Круизы»
