include ../mixins/mixins.pug

block variables
	- var pageTitle = 'Морские прогулки по Чёрному морю'

doctype html
html(lang="ru")

	head
		meta(charser="UTF-8")
		//- viewport-fit=cover??
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- meta(name="keywords" content="")
		//- meta(name="description" content="Описание страницы короче 150 символов")
		meta(name="author" content="https://github.com/displayflex")
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(content='notranslate', name='google')
		title #{pageTitle}
		//- link(rel="preload" href="fonts/PTSansNarrowBold.woff2" as="font")

		link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")


		link(rel="stylesheet", href="css/style.min.css")

	//- TODO: body.page?
	body
		block header

		block main

		block footer

		//- script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
		//- script(src="js/scripts.min.js")
